.center-box {
  min-height: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  .name {
    color: #666;
    font-family: monospace;
    font-weight: bold;
  }
}