nav {
    opacity: .7;
    border-top-left-radius: .8rem;
    border-bottom-left-radius: .8rem;
    position: fixed;
    top: 20%;
    transform: translateY(-20%);
    right: 0;
    z-index: 1000000;
}
