$color-alert-danger: red;
$color-alert-warning: yellow;

$color-bg1: #333;
$color-bg2: #222;

$color-bar: rgb(66, 139, 202);
$color-bar-dark: darken(rgb(66, 139, 202), 15%);
$color-bar-bg: #666;

$color-board-text: #ccc;
$color-board-bg: #343434;
$color-board-bg-header: rgba(26,26,26,.9);